@page "/account"
@inject IHttpApiClientRequestBuilderFactory ClientFactory;
@inject IAccountService AccountService;
@inject IUriHelper UriHelper

<AccountMenu></AccountMenu>

<EditForm Model="_account" OnValidSubmit="@PostAccount">
    <DataAnnotationsValidator />
    <ServerSideValidator ref="serverSideValidator" />
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText Class="form-control" bind-Value="@_account.Email" />
        <ValidationMessage For="@(() => _account.Email)" />
    </div>
    <div class="form-group">
        <label for="Name">User name</label>
        <InputText Class="form-control" bind-Value="@_account.Name" />
        <ValidationMessage For="@(() => _account.Name)" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@functions {
    ServerSideValidator serverSideValidator;
    AccountViewModel _account = new AccountViewModel();
    protected override async Task OnInitAsync()
    {
        _account = await AccountService.CurrentAccount();
        StateHasChanged();
    }
    async Task PostAccount()
    {
        await ClientFactory.Create("/api/account/edit")
            .OnBadRequest<Dictionary<string,List<string>>>(errors => serverSideValidator.DisplayErrors(errors))
            .OnOK("Informations saved successfully")
            .Post(_account);
        StateHasChanged();
    }
}

 