@page "/account/changePassword"
@inject HttpClient Http
@inject IUriHelper UriHelper;
<AccountMenu></AccountMenu>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="OldPassword"></label>
        <input bind="@model.OldPassword" class="form-control" />
        <ValidationError FieldName="OldPassword" Errors="@_errors" />
    </div>
    <div class="form-group">
        <label for="NewPassword"></label>
        <input bind="@model.NewPassword" class="form-control" />
        <ValidationError FieldName="NewPassword" Errors="@_errors" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword"></label>
        <input bind="@model.ConfirmPassword" class="form-control" />
        <ValidationError FieldName="OldPassword" Errors="@_errors" />
    </div>
    <button type="button" onclick="@(async () => await ChangePassword())" class="btn btn-default">Update password</button>
</form>
@functions{
    Dictionary<string, string> _errors;
    ChangePasswordViewModel model = new ChangePasswordViewModel();
    async Task ChangePassword()
    {
        await new HttpApiClientRequestBuilder(Http, "/manage/SetPassword", UriHelper)
            .OnBadRequest<Dictionary<string, string>>(errors => _errors = errors)
            .OnOK(() =>
            {
                JsInterop.Toastr("success", "Password changed successfully");
                _errors = null;
                model = new ChangePasswordViewModel();
            })
            .Post(model);
        StateHasChanged();
    }
}
