@page "/"
@inject IHttpApiClientRequestBuilderFactory ClientFactory
@inject IAccountService AccountService


<HashTagBar OnHashTagChanged="LoadTossHashTag"></HashTagBar>
<div class="row">
    <div class="col-md-3 col-sm-6 my-2">
        <div class="card  h-100">
            <form method="post" onsubmit="@(async () => await SendToss())">
                <div class="card-body p-2">

                    <p class="card-text">
                        <textarea bind="@newToss.Content" placeholder="New Toss" class="form-control h-100" style="min-width: 100%"></textarea>
                    </p>



                </div>
                <div class="card-footer p-1 ">
                    <button class="btn btn-primary btn-block" type="submit">Toss-it</button>
                </div>
            </form>
        </div>
    </div>
    @if (loading)
    {
        <div class="card border-secondary">
            <div class="card-body p-2 text-secondary">
                <h5 class="card-title">Loading</h5>
                <p class="card-text">
                    <i class="fas fa-spinner fa-spin"></i>
                </p>

            </div>
        </div>

    }
    @foreach (var toss in Tosses.OrderByDescending(t => t.CreatedOn))
    {
        <div class="col-md-3 col-sm-6 my-2">
            <div class="card  h-100">
                <div class="card-body p-2">
                    <p class="card-text text-truncate" style="max-height:200px;">@toss.Content</p>

                </div>
                <div class="card-footer p-1">
                    <small class="text-muted"><b>@toss.UserName</b> - @toss.CreatedOn</small>
                </div>
            </div>
        </div>
    }
</div>
@functions{
    List<TossLastQueryItem> Tosses = new List<TossLastQueryItem>();
    TossCreateCommand newToss = new TossCreateCommand();
    Dictionary<string, string> _errors;
    bool loading = false;
    private async Task LoadTossHashTag(string hashtag)
    {
        loading = true;
        await ClientFactory.Create("/api/toss/last?hashtag=" + hashtag)
            .OnOK<List<TossLastQueryItem>>(l => Tosses = l)
            .Get();
        loading = false;
        StateHasChanged();

    }
    protected override async Task OnInitAsync()
    {
        await RefreshTossList();
    }
    protected async Task RefreshTossList()
    {
        loading = true;
        await ClientFactory.Create("/api/toss/last")
            .OnOK<List<TossLastQueryItem>>(l => Tosses = l)
            .Get();
        loading = false;
        StateHasChanged();
    }
    protected async Task SendToss()
    {
        loading = true;
        await ClientFactory.Create("/api/toss/create")
            .OnOK(async () =>
            {
                newToss = new TossCreateCommand();
            })
            .OnBadRequest<Dictionary<string, string>>(e => _errors = e)
            .Post(newToss);
        loading = false;
        StateHasChanged();

    }
}
