@using Markdig
@using System.Web
<div class="col-md-3 col-sm-6 my-2 toss">
    
    <div class="card  h-100 @additionnalClass" data-toggle="modal" onclick="@(async () => await ShowDetail())" style="cursor:zoom-in">
        @if(headerText != null)
        {
            <div class="card-header">
                @headerText
            </div>
        }
        <div class="card-body p-2">
            <p class="card-text" style="max-height:200px;overflow-y: hidden;">
                @((MarkupString)Markdown.ToHtml(HttpUtility.HtmlEncode( toss.Content)))
            </p>
            <p class="card-text">
                <small class="text-muted">
                    @toss.UserName <br/> 
                    @(Math.Round(toss.PostedAgo.TotalHours)) hrs ago
                </small>
            </p>
        </div>
    </div>
</div>
    @functions{
        [Parameter]
        Func<string, Task> ShowDetailDelegate { get; set; }

        [Parameter]
        string headerText { get; set; }
        [Parameter]
        string additionnalClass { get; set; }
        [Parameter]
        TossLastQueryItem toss { get; set; }


        protected async Task ShowDetail()
        {
            await this.ShowDetailDelegate(toss.Id);
        }
    }
