@page "/toss/{TossId}"
@inject IHttpApiClientRequestBuilderFactory httpBuilder
@inject IMarkdownService markdown
@inject IJsInterop JsInterop
@layout MainLayout
<div class="toss-detail">
    @if (tossDetail != null)
    {
       
        <div class="toss-content">
            @markdown.ToHtml(tossDetail.Content)
        </div>
        <div class="toss-footer">
            @foreach (var hashTag in tossDetail.Hashtags)
            {

                <a class="link-button" href="@("/tag/"+hashTag)">
                    #@hashTag
                </a>
            }
            <a class="link-button" href="@("/user/"+tossDetail.UserName)">
                @tossDetail.UserName
            </a>
             -
            @tossDetail.CreatedOn.ToString("f")
        </div>
    }
</div>
@functions{
    [Parameter]
    public string TossId { get; set; }
    private TossDetail tossDetail
    {
        get;
        set;
    }

    protected override async Task OnParametersSetAsync()
    {
        await httpBuilder.Create($"/api/toss/detail/{TossId}")
              .OnOK<TossDetail>(r =>
             {
                 this.tossDetail = r;
                 StateHasChanged();
             })
              .Get();

    }

}
