
@inject IMarkdownService markdown
@inject NavigationManager uriHelper;
<div class="pure-u-5-5  toss-preview" @onclick="@ShowDetail">
    <div class="pure-g">
        <div class="pure-u-24-24">

            @if (isAdverstisment)
            {
                <div class="tag">
                    Ad
                </div>
            }
            <div class="content-preview">
                @markdown.ToHtml(toss.Content)
            </div>
            <div class="meta">
                <span class="tags">
                    @foreach (var hashTag in toss.Tags)
                    {
                        <a class="link-button" href="@("/tag/"+hashTag)">
                            #@hashTag
                        </a>
                    }
                </span>
                <span class="user-name">
                    <a class="link-button" href="@("/user/"+toss.UserName)">
                        @toss.UserName
                    </a> -
                </span>
                <span class="write-date">
                    @toss.CreatedOn
                </span>
                <span class="read-toss">
                    <a class="link-button" href="/toss/@toss.Id">
                        Read
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
@functions{
    [Parameter]
    bool isAdverstisment { get; set; }
    [Parameter]
    TossLastQueryItem toss { get; set; }
    
    protected void ShowDetail()
    {
        this.uriHelper.NavigateTo("/toss/" + toss.Id);
    }
}